In [3]:
import io
import pandas as pd

In [5]:
example_input = """..@@.@@@@.
@@@.@.@.@@
@@@@@.@.@@
@.@@@@..@.
@@.@@@@.@@
.@@@@@@@.@
.@.@.@.@@@
@.@@@.@@@@
.@@@@@@@@.
@.@.@@@.@."""

In [41]:
def make_df(lines):
    return pd.DataFrame([list(line) for line in lines])

df = make_df(example_input.split('\n'))
df

   0  1  2  3  4  5  6  7  8  9
0  .  .  @  @  .  @  @  @  @  .
1  @  @  @  .  @  .  @  .  @  @
2  @  @  @  @  @  .  @  .  @  @
3  @  .  @  @  @  @  .  .  @  .
4  @  @  .  @  @  @  @  .  @  @
5  .  @  @  @  @  @  @  @  .  @
6  .  @  .  @  .  @  .  @  @  @
7  @  .  @  @  @  .  @  @  @  @
8  .  @  @  @  @  @  @  @  @  .
9  @  .  @  .  @  @  @  .  @  .

In [42]:
def get_adjacent_pos_list(df, i, j):
    pos_list = []
    for delta_i in [-1, 0, 1]:
        new_i = i + delta_i
        if new_i < 0 or new_i >= df.shape[0]:
            continue
        for delta_j in [-1, 0, 1]:
            new_j = j + delta_j
            if new_j < 0 or new_j >= df.shape[1] or (new_i == i and new_j == j):
                continue
            pos_list.append([new_i, new_j])
    return pos_list

def get_adjacent_rolls_count(df, i, j):
    num_adjacent_rolls = 0
    for [i2, j2] in get_adjacent_pos_list(df, i, j):
        if df.iloc[i2, j2] == '@':
            num_adjacent_rolls += 1
    return num_adjacent_rolls

def part1(lines):
    df = make_df(lines)
    print(df.shape)
    num_reachable_rolls = 0
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            val = df.iloc[i, j]
            if val != '@':
                continue
            if get_adjacent_rolls_count(df, i, j) < 4:
                num_reachable_rolls += 1
    return num_reachable_rolls
        
part1(example_input.split('\n'))

(10, 10)

13

In [43]:
my_input = open('day4.txt').read().split('\n')[:-1]
part1(my_input)

(136, 136)

1393

In [49]:
# lines = example_input.split('\n')
lines = my_input

df = make_df(lines)
print(df.shape)

new_df = df.copy()
num_reachable_rolls = 0

while True:
    print(f'Current num reachable rolls: {num_reachable_rolls}')
    any_updates = False
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            val = df.iloc[i, j]
            if val != '@':
                continue
            if get_adjacent_rolls_count(df, i, j) < 4:
                num_reachable_rolls += 1
                new_df.iloc[i, j] = '.'  # remove the roll
                any_updates = True
    if not any_updates:
        break
    df = new_df

(136, 136)
Current num reachable rolls: 0
Current num reachable rolls: 1393
Current num reachable rolls: 3550
Current num reachable rolls: 4715
Current num reachable rolls: 5485
Current num reachable rolls: 6063
Current num reachable rolls: 6545
Current num reachable rolls: 6910
Current num reachable rolls: 7214
Current num reachable rolls: 7440
Current num reachable rolls: 7621
Current num reachable rolls: 7789
Current num reachable rolls: 7915
Current num reachable rolls: 8007
Current num reachable rolls: 8084
Current num reachable rolls: 8150
Current num reachable rolls: 8202
Current num reachable rolls: 8249
Current num reachable rolls: 8295
Current num reachable rolls: 8350
Current num reachable rolls: 8387
Current num reachable rolls: 8416
Current num reachable rolls: 8439
Current num reachable rolls: 8465
Current num reachable rolls: 8486
Current num reachable rolls: 8502
Current num reachable rolls: 8517
Current num reachable rolls: 8531
Current num reachable rolls: 8557
Current num reachable rolls: 8575
Current num reachable rolls: 8587
Current num reachable rolls: 8595
Current num reachable rolls: 8604
Current num reachable rolls: 8613
Current num reachable rolls: 8617
Current num reachable rolls: 8622
Current num reachable rolls: 8626
Current num reachable rolls: 8628
Current num reachable rolls: 8631
Current num reachable rolls: 8636
Current num reachable rolls: 8643

In [50]:
num_reachable_rolls

8643