In [1]:
from io import StringIO
import itertools
import pandas as pd

example_input = """MMMSXXMASM
MSAMXMSMSA
AMXSXMAAMM
MSAMASMSMX
XMASAMXAMM
XXAMMXXAMA
SMSMSASXSS
SAXAMASAAA
MAMMMXMMMM
MXMXAXMASX"""

lines = []
for line in example_input.split('\n'):
    lines.append(list(line))

df = pd.DataFrame(lines)
df

   0  1  2  3  4  5  6  7  8  9
0  M  M  M  S  X  X  M  A  S  M
1  M  S  A  M  X  M  S  M  S  A
2  A  M  X  S  X  M  A  A  M  M
3  M  S  A  M  A  S  M  S  M  X
4  X  M  A  S  A  M  X  A  M  M
5  X  X  A  M  M  X  X  A  M  A
6  S  M  S  M  S  A  S  X  S  S
7  S  A  X  A  M  A  S  A  A  A
8  M  A  M  M  M  X  M  M  M  M
9  M  X  M  X  A  X  M  A  S  X

In [2]:
# see if there's an 'XMAS' in a specific direction
def is_xmas(df, i, j, i_delta, j_delta):
    cur_i = i
    cur_j = j
    for k in range(len('XMAS')):
        if cur_i >= df.shape[0] or cur_j >= df.shape[1] or cur_i < 0 or cur_j < 0:  # out of bounds
            return False
        if df.iloc[cur_i, cur_j] != 'XMAS'[k]:
            return False
        # increment counters
        cur_i += i_delta
        cur_j += j_delta
    return True

is_xmas(df, 0, 5, 0, 1)

True

In [3]:
all_directions = list(itertools.product([-1, 0, 1], [-1, 0, 1]))
all_directions.remove((0, 0))
all_directions

[(-1, -1), (-1, 0), (-1, 1), (0, -1), (0, 1), (1, -1), (1, 0), (1, 1)]

In [4]:
# see if there's an 'XMAS' in a specific direction
def is_xmas(df, i, j, i_delta, j_delta):
    cur_i = i
    cur_j = j
    for k in range(len('XMAS')):
        if cur_i >= df.shape[0] or cur_j >= df.shape[1] or cur_i < 0 or cur_j < 0:  # out of bounds
            return False
        if df.iloc[cur_i, cur_j] != 'XMAS'[k]:
            return False
        # increment counters
        cur_i += i_delta
        cur_j += j_delta
    return True

def part1(input_str):
    # parse input into dataframe
    lines = []
    for line in input_str.split('\n'):
        lines.append(list(line))
    df = pd.DataFrame(lines)
    
    # create list of all directions to check
    all_directions = list(itertools.product([-1, 0, 1], [-1, 0, 1]))
    all_directions.remove((0, 0))
    
    sum_all_xmas = 0
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            for (i_delta, j_delta) in all_directions:
                if is_xmas(df, i, j, i_delta, j_delta):
                    sum_all_xmas += 1

    print(sum_all_xmas)
    
part1(example_input)

18

In [5]:
a = open('day4.txt').read()[:-1]
part1(a)

2571

In [6]:
# for part 2, need to look for these:
allowed_strings = {'MAS', 'SAM'}
def is_x_mas(df, i, j):
    if i >= df.shape[0]-1 or j >= df.shape[1]-1 or i < 1 or j < 1:
        return False
    
    # get string at first diagonal
    left_diagonal = '%s%s%s' % (df.iloc[i-1, j-1], df.iloc[i, j], df.iloc[i+1, j+1])
    right_diagonal = '%s%s%s' % (df.iloc[i+1, j-1], df.iloc[i, j], df.iloc[i-1, j+1])
    return left_diagonal in allowed_strings and right_diagonal in allowed_strings

def part2(input_str):
    # parse input into dataframe
    lines = []
    for line in input_str.split('\n'):
        lines.append(list(line))
    df = pd.DataFrame(lines)
    
    sum_all_xmas = 0
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            if is_x_mas(df, i, j):
                sum_all_xmas += 1

    print(sum_all_xmas)
    
part2(example_input)

9

In [7]:
part2(a)

1992