In [21]:
example_input = """30373
25512
65332
33549
35390
"""

def convert_input_to_csv(a):
    return ','.join(list(a)).replace(',\n,', '\n').replace(',\n', '\n')

convert_input_to_csv(example_input)

'3,0,3,7,3\n2,5,5,1,2\n6,5,3,3,2\n3,3,5,4,9\n3,5,3,9,0\n'

In [24]:
from io import StringIO
import pandas as pd

df = pd.read_csv(StringIO(convert_input_to_csv(example_input)), header=None)
df

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0

In [47]:
def check_visible_left(df, i, j):
    return df.iloc[i,j] > max(df.iloc[i,0:j])

def check_visible_right(df, i, j):
    return df.iloc[i,j] > max(df.iloc[i,j+1:df.shape[1]])

def check_visible_up(df, i, j):
    return df.iloc[i,j] > max(df.iloc[0:i,j])

def check_visible_down(df, i, j):
    return df.iloc[i,j] > max(df.iloc[i+1:df.shape[0],j])

def is_visible(df, i, j):
    # if it's an edge, it's visible
    if i in (0, df.shape[0]-1) or j in (0, df.shape[1]-1):
        return True
    # check if it's taller than all other trees
    
    # left
    visible_left = check_visible_left(df, i, j)
    if visible_left:
        return True
    
    visible_right = check_visible_right(df, i, j)
    if visible_right:
        return True
    
    visible_up = check_visible_up(df, i, j)
    if visible_up:
        return True
    
    visible_down = check_visible_down(df, i, j)
    if visible_down:
        return True
    
    return False

In [48]:
df

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0

In [55]:
total_visible = 0
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        if is_visible(df, i, j):
            total_visible += 1
total_visible

21

In [56]:
a = open('input8.txt').read()
my_df = pd.read_csv(StringIO(convert_input_to_csv(a)), header=None)
my_df.shape

(99, 99)

In [57]:
total_visible = 0
for i in range(my_df.shape[0]):
    for j in range(my_df.shape[1]):
        if is_visible(my_df, i, j):
            total_visible += 1
total_visible

1805

In [98]:
def get_up_viewing_distance(df, i, j):
    count = 0
    for x in range(i-1, -1, -1):
        count += 1
        if df.iloc[x,j] >= df.iloc[i,j]:  # comparison is same height or taller than our tree
            break
    return count

def get_down_viewing_distance(df, i, j):
    count = 0
    for x in range(i+1, df.shape[0]):
        count += 1
        if df.iloc[x,j] >= df.iloc[i,j]:  # comparison is same height or taller than our tree
            break
    return count

def get_left_viewing_distance(df, i, j):
    count = 0
    for y in range(j-1, -1, -1):
        count += 1
        if df.iloc[i,y] >= df.iloc[i,j]:  # comparison is same height or taller than our tree
            break
    return count

def get_right_viewing_distance(df, i, j):
    count = 0
    for y in range(j+1, df.shape[1]):
        count += 1
        if df.iloc[i,y] >= df.iloc[i,j]:  # comparison is same height or taller than our tree
            break
    return count

def get_scenic_score_components(df, i, j):
    left = get_left_viewing_distance(df, i, j)
    right = get_right_viewing_distance(df, i, j)
    up = get_up_viewing_distance(df, i, j)
    down = get_down_viewing_distance(df, i, j)
    return [left, right, up, down]

In [62]:
df

   0  1  2  3  4
0  3  0  3  7  3
1  2  5  5  1  2
2  6  5  3  3  2
3  3  3  5  4  9
4  3  5  3  9  0

In [103]:
from numpy import prod

prod(get_scenic_score_components(df, 3, 2))

8

In [105]:
max_scenic_score = 0
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        max_scenic_score = max(max_scenic_score, prod(get_scenic_score_components(df, i, j)))
        
max_scenic_score

8

In [106]:
max_scenic_score = 0
for i in range(my_df.shape[0]):
    for j in range(my_df.shape[1]):
        max_scenic_score = max(max_scenic_score, prod(get_scenic_score_components(my_df, i, j)))
        
max_scenic_score

444528