In [99]:
example = """2199943210
3987894921
9856789892
8767896789
9899965678
"""

example = example.split('\n')[:-1]
[list(x) for x in example]

[['2', '1', '9', '9', '9', '4', '3', '2', '1', '0'],
 ['3', '9', '8', '7', '8', '9', '4', '9', '2', '1'],
 ['9', '8', '5', '6', '7', '8', '9', '8', '9', '2'],
 ['8', '7', '6', '7', '8', '9', '6', '7', '8', '9'],
 ['9', '8', '9', '9', '9', '6', '5', '6', '7', '8']]

In [100]:
import pandas as pd

a = pd.DataFrame([list(x) for x in example]).apply(pd.to_numeric)
a

   0  1  2  3  4  5  6  7  8  9
0  2  1  9  9  9  4  3  2  1  0
1  3  9  8  7  8  9  4  9  2  1
2  9  8  5  6  7  8  9  8  9  2
3  8  7  6  7  8  9  6  7  8  9
4  9  8  9  9  9  6  5  6  7  8

In [101]:
def get_nearby_positions(a, i, j):
    numrows, numcols = a.shape
    nearby_positions = []
    
    # check to the right: is it out of bounds?
    if j < numcols-1:
        nearby_positions.append((i, j+1))
    # check to the left
    if j > 0:
        nearby_positions.append((i, j-1))
    # check up
    if i > 0:
        nearby_positions.append((i-1, j))
    if i < numrows-1:
        nearby_positions.append((i+1, j))
    return nearby_positions

def get_nearby_values(a, i, j):
    nearby_positions = get_nearby_positions(a, i, j)
    values = []
    for pos in nearby_positions:
        x, y = pos[0], pos[1]
        values.append(a[y][x])
    return values

get_nearby_values(a, 0, 4)

[4, 9, 8]

In [102]:
numrows, numcols = a.shape
local_mins = []
for i in range(numrows):
    for j in range(numcols):
        # check if this is a local minimum
        val = a[j][i]
        nearby_values = get_nearby_values(a, i, j)
        if all(x > val for x in nearby_values):
            local_mins.append(val)

local_mins

[1, 0, 5, 5]

In [103]:
sum(local_mins) + len(local_mins)

15

In [104]:
a = open('day9.txt').read().split('\n')[:-1]
len(a)

100

In [105]:
real_input = open('day9.txt').read().split('\n')[:-1]
a = pd.DataFrame([list(x) for x in real_input]).apply(pd.to_numeric)
numrows, numcols = a.shape
local_mins = []
for i in range(numrows):
    for j in range(numcols):
        # check if this is a local minimum
        val = a[j][i]
        nearby_values = get_nearby_values(a, i, j)
        if all(x > val for x in nearby_values):
            local_mins.append(val)

In [106]:
sum(local_mins) + len(local_mins)

548

In [107]:
# find the basin for a low point: "climb up" until you hit a 9
def find_basin_helper(a, i, j, basins):
    if a[j][i] == 9:  # base case
        return
    curpos = (i, j)
    if curpos in basins:  # been here already
        return
    basins.add(curpos)
    nearby_positions = get_nearby_positions(a, i, j)
    for pos in nearby_positions:
        find_basin_helper(a, pos[0], pos[1], basins)
        
starter_basins = set()
find_basin_helper(a, 4, 6, starter_basins)

In [108]:
# part 2: for each location, find its low point
a = pd.DataFrame([list(x) for x in example]).apply(pd.to_numeric)
numrows, numcols = a.shape
local_min_locations = []
for i in range(numrows):
    for j in range(numcols):
        # check if this is a local minimum
        val = a[j][i]
        nearby_values = get_nearby_values(a, i, j)
        if all(x > val for x in nearby_values):
            local_min_locations.append((i, j))

basin_sizes = []
for pos in local_min_locations:
    basins = set()
    find_basin_helper(a, pos[0], pos[1], basins)
    basin_sizes.append(len(basins))
    
sorted(basin_sizes)

[3, 9, 9, 14]

In [109]:
sorted(basin_sizes)[-3:]

[9, 9, 14]

In [110]:
# part 2: for each location, find its low point
a = pd.DataFrame([list(x) for x in real_input]).apply(pd.to_numeric)
numrows, numcols = a.shape
local_min_locations = []
for i in range(numrows):
    for j in range(numcols):
        # check if this is a local minimum
        val = a[j][i]
        nearby_values = get_nearby_values(a, i, j)
        if all(x > val for x in nearby_values):
            local_min_locations.append((i, j))
            
basin_sizes = []
for pos in local_min_locations:
    basins = set()
    find_basin_helper(a, pos[0], pos[1], basins)
    basin_sizes.append(len(basins))
    
sorted(basin_sizes)[-3:]

[89, 92, 96]

In [111]:
89*92*96

786048